 <div class="main1">

      <p-timeline [value]="events" align="alternate" >
        <ng-template pTemplate="marker" let-event>
          <span
            class="custom-marker shadow-2"
            [style.backgroundColor]="event.color"
          >
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>

        <ng-template pTemplate="content" let-event>
          <p-card [header]="event.status" [subheader]="event.date" >
            <p-fieldset legend="More Info" [toggleable]="true" >
              <p>{{ event.rout | translate }}</p>
              <p>{{ event.skills.lenght }}</p>
            </p-fieldset>
          </p-card>
        </ng-template>
      </p-timeline>

</div> 
