img{
    width: 80px;
    width: 80px;
}

ul{
    list-style: none;
}

.main1{
    margin-left: 120px;
    margin-right: 110px;
}

.rounder{
    border-radius: 10px;
}

.transparent{
    background-color: black !important;
}