<!-- <div class="main">

    <h1> {{ "Italo Guevara" |  titlecase }}<span>&#160;</span> </h1>
    <h3> {{ "home.title" | translate |  titlecase  }} </h3>

</div> -->

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      {{ "home.greeting" | translate }}
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">{{ "home.world" | translate }}</li>
      <li class="content__container__list__item">{{ "home.user" | translate }}</li>
      <li class="content__container__list__item">{{ "home.everyone" | translate }}</li>
      <li class="content__container__list__item">{{ "home.greeting" | translate }}</li>
    </ul>
  </div>
<span>Click me</span>

</div>


