 body {
  background: #c4c7db; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--primary-color);
} 

h1{
  /*olor: var( --primary-color );*/
  color: #24434b;
}


.main { 
  margin-left: 300px;
  margin-top: 100px;
}


@media (max-width: 900px) { 
  body {
    background-color: var( --surface-b ); 
    background-image: none;
  }
}

