ul{
  display: inline-block;
  list-style-type: none;
}


.footer{
  bottom: 0px;    
  display: list-item; 
  position: absolute;
}


.iconSkill{
  height: 30px;
  width: 30px;
}


.listSkill{
  display: list-item; 
}